body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: hsl(0, 100%, 74%);
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.container {
}

.main-left, 
.main-right {
    flex: 50%;
}

.main-left {
    padding: 150px 0;
}

.main-right {

}

.main-left > article {
    margin: auto;
    width: 400px;
    color: hsl(0, 0%, 95%);
}

.main-left > article > p {
    font-size: small;
    padding: 0;
    margin-left: 0;
}

.main-right > header {
    margin-top: 70px;
    border-radius: 20px;
    background: hsl(248, 32%, 49%);
    padding: 10px;
    width:540px ;
    text-align: center;
    color: hsl(0, 0%, 95%);
    font-size: 11px;
    box-shadow: 2px 5px 2px rgb(101, 99, 99);
}

.main-right header span {
    font-weight: 400;
    font-size: 13px;
}

.reg-form {
    border-radius: 10px;
    background: white;
    width: 500px;
    padding: 30px;
    margin-top: 18px;
    box-shadow: 2px 5px 2px rgb(101, 99, 99);
}

.reg-form p {
    color: hsl(0, 4%, 67%);
    font-size: 10px;
    text-align: center;
}

.reg-form p span {
    color: hsl(0, 100%, 74%);
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .form-input {
    padding: 1em;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
  }

  /*.form-input:focus {
    border: 1px solid hsl(249, 10%, 26%);
    outline: hsl(249, 10%, 26%);
  }*/

  .submit-btn {
      padding: 15px;
      background-color: hsl(154, 59%, 51%);
      color: hsl(0, 0%, 95%);
      border: none;
      border-radius: 5px;
  }

  .error-message{
    display: none;
    margin-bottom: 10px;
}

.input:invalid:focus{
    background: url(images/icon-error.svg) no-repeat 96%center white;
outline: 2px solid hsl(0, 100%, 74%);
border-radius: 5px;
}
 .input:required:focus ~ .error-message{
    display: block;
    color: hsl(0, 100%, 74%) ;
    text-align: right;
    font-size: 12px;
    font-style: italic;
}
.input:valid:focus ~ .error-message{
  display: none;
}

.input:valid{
    outline: 2px solid silver;
  }
.input:required{
     
outline: 2px solid transparent;
 
}


input[type=email]:invalid:focus::-webkit-input-placeholder{
   color:hsl(0, 100%, 74%);
}
@media screen and (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
       
        background: url("images/bg-intro-mobile.png");
    }

    .main-left, .main-right {
        flex: auto;
    }

    .main-left {
        padding: 5px 0;
        margin-left,
        margin-right: 20px;
        padding-right: 0px;
    }

    .main-left > article {
        margin: auto;
        width: 100%;
        color: hsl(0, 0%, 95%);
        text-align: center;
    }
    

    .main-left article p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    

    .main-right > header {
        margin-top: 20px;
        border-radius: 20px;
        background: hsl(248, 32%, 49%);
        padding: 4px;
        margin-left: 10px;
        width:90% ;
        text-align: center;
        color: hsl(0, 0%, 95%);
        font-size: 11px;
        box-shadow: 2px 5px 2px rgb(101, 99, 99);
    }
    
    .reg-form {
        border-radius: 10px;
        background: white;
        margin-left: 8px;
        width: 85%;
        padding: 15px;
        margin-top: 18px;
        box-shadow: 2px 5px 2px rgb(101, 99, 99);
    }

    .submit-btn {
        padding: 10px;
        background-color: hsl(154, 59%, 51%);
        color: hsl(0, 0%, 95%);
        border: none;
        border-radius: 5px;
    }
    
    
}


@media screen and (min-width: 375px) {
    .container {
        display: flex;
        flex-direction: row;
        height: 97vh;
        align-items: stretch;
        background: url("images/bg-intro-desktop.png");
    }
}
